streamlit
requests
python-dotenv
typing-extensions
langgraph
langchain-openai
langchain-core
PyJWT
langchain
langchain-groq
langchain-deepseek
langchain-huggingface
transformers
protobuf>=3.19.0,<5.0.0
